*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #0079bf;
  box-sizing: border-box;
  padding: 3rem;
}

.Board {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.List {
  padding: 1rem 1rem 0 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #c4c9cc;
  display: flex;
  flex-direction: column;
  width: 25rem;
  border-radius: 3px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.add-icon {
  margin-right: 0.5rem;
}

.list-title {
  font-size: 1.5rem;
  color: rgb(58, 57, 57);
  font-weight: bold;
}

.regular-button {
  font-size: 1.2rem;
  border: none;
  background-color: inherit;
  align-self: flex-start;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.add-card-button:hover {
  cursor: pointer;
}

.card {
  background-color: white;
  margin-top: 0.5rem;
  padding: 0.5rem;
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.card-description {
  font-size: 1.1rem;
}

.AddCardForm > form {
  display: flex;
  flex-direction: column;
}

.new-card-description,
.new-card-title {
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 3px;
}

.new-list {
  margin-top: 1rem;
}
.new-list-input {
  border: 1px solid white;
  border-radius: 3px;
  margin-left: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

.new-list-input:focus {
  border: lightblue 1px solid;
}
